@import 'tailwindcss';


@font-face {
  font-family: 'Robot';
  src: url('./assets/fonts/Roboto\ \(1\)/.ttf') format('truetype');

}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto\ \(2\)/.ttf') format('truetype');

}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');

}
@font-face {
  font-family: 'Rubiks';
  src: url('./assets/fonts/Rubik\ \(1\)/.ttf') format('truetype');

}

@font-face {
  font-family: 'moon';
  src: url('./assets/fonts/Moon_Dance/MoonDance-Regular.ttf') format('truetype');

}

/* src/custom.css */
.dark-mode .hero {
  @apply text-white bg-gradient-to-r from-[#0B0B2A] to-transparent;
}

.dark-mode .input {
  @apply bg-[#222339] text-white
}


.dark-mode .navbar {
  @apply bg-[#0B0B2A] text-white;
}

.dark-mode .navbar .button {
  @apply text-white;
}

.clip-path-custom {
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 47% 100%);
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


